/* слайдер "Специальное предложение */
.container{
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;  
}

.container div a img{
    border: 5px solid black;
}


/* header */
.header{    
    display: flex;
    /* background: #F43D6B; */
    align-items: center;
    background-color: #FFFFFF	;
}


/* ссылки header */
.header a:hover, a:active{
    background-color: gray;   
} 

.header a:link {
        text-decoration: none;
}


/* body */
body{
    background-color: rgb(240, 240, 240);
    position: relative; 
    background: #E5E5E5	;
}


/* ссылки header */
.box{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 110%;       
}

.box li{
    float: left;
}

.box li a{   
    display: block;
    color: black;
    /* margin-left: 10px; */
    padding: 15px;
    text-decoration: none;
    /* identical to box height, or 14px */
}


/* ссылки под баннером */
.flex-container{
    display: flex;
}

ul {
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    overflow: hidden;  
}

.flex-container li  {
    float: left;
}

.flex-container li a {
    display: flex;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;    
}


/* фул h1 */
h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 150%;
    text-align: center; 
}


/* изображения */
img{
    max-width: 100%;
}


/* footer */
.footer {   
    width: 100%;
    height: 250px;
    top: 120%;
    background-color:#FFFFFF;
    clear:both;
    display: flex;
    
}

.footer div{
    
    display: inline-block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 17%;
}

.footer div a{
   
    color: black;
}

/* цвет при наведении нас ссылку */
.footer a:hover, a:active{
    color: gray;    
} 

.footer a:link {
    text-decoration: none;
}


/* формы */
.forms{
    flex-direction: column;
}

select {
    width: 100%;
    padding: 16px 15px;
    border: none;
    background-color: #f1f1f1;
}

input[type=button]{
    background-color: black;
    color: white;
    width: 100%;
    padding: 16px 32px;
}


/* ссылка "смотреть все" под специальным предложением */
.look_all{
    text-align: center;
}

.look_all a{
    background-color: black;
    color: white;
    padding: 12px 15px;
    
    text-decoration: none;
    display: inline-block;
}


/* Товары */
/* название и подкатегории(слева) */
.product{
    display: flex;
}

.product div{
    padding: 5px;
}

/* задний фон подкатегории и ссылки на них */
.back{
    display: inline;
}
.back div{
    background-color: #323232;
    background-repeat: no-repeat;
    height: auto; 
    text-align: center; 
}  

.back a{
    color: white;
    font-family: 'Courier New', Courier, monospace;        
}


/* блоки товаров */
.products_container{
    display: inline;
    text-align: center; 
}

/* углы изображений */
.products_container img{
    border-radius: 10px;
    height: 150px;
    width: 300px;
}

/* инфа и цена */
.products_container div a{
    
    color: black;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
}

/* верхний блок товаров */
.up{
    display: flex;
}

/* рамка и углы верхнего блока */
.up div{
    border: 1px solid black;
    border-radius: 10px;
}

/* нижний блок товаров */
.down{
    display: flex;
}

/* рамка и углы нижнего блока */
.down div{
    border: 1px solid black;
    border-radius: 10px;
}


/* меню страницы "категории" */
/* --------------------------------------- */
.hoverbek a{
    text-decoration: none;
}
.hoverbek ul{
    position: absolute;
    display: none;
    margin-left: 185px;
    margin-top: -2em;
    background-color: #897E7E;
}

.hoverbek li a{
    display: block;
    padding: 5px;
    text-decoration: none;
    color: white;
}

.hoverbek a:hover{
    color: black
}
.hoverbek li a:hover{
    color:black;
}

.hoverbek:hover ul{
    display: block;     
}
/* --------------------------------------- */


/* слайдер во время покупки товара */
.swiper-container {
    width: auto;
    height: auto;
}

/* свайпер под главным изображением слайда */
.gallery-thumbs{
    overflow: hidden;
    width: 95%;
}

/* ширина всего слайдера в разделе покупки товара */
.myswiper{
    width: 43%;  
}

/* тело */
.body_block{
    display: flex;
}

/* формы выбора размера обуви */
.form input{
    display: none;
    
}
.form span{
    padding: 7px 15px;
    border: 1px solid #000;
    margin: 5px;
}
.form input:checked + span{
    border: 2px solid red;
}

/* инфо о товаре */
.price{
    display: inline;
}


input[type=submit]{
    background-color: black;
    border: none;
    color: white;
    padding: 10px 25px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

h2{
    font-family: 'ms sans serif';
    color: black;
}

strong{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black; 
   
}


.slide_image{
    width: 100%;
}

/* менюшка */
.menu{
    line-height: 120%;
    background-color:#323232;
    width:auto;
    top: auto;
    text-align: center;   
    padding:5px; 
}

.menu ul li{
    font-family: 'algerian';
   
    padding: 5px;

}

.menu ul li a{
    color: white;
}

/* контент на странице категории */
.content{
    background-color:#E5E5E5;
    width:100%;
    height: 100%;
    font-family: courier;
    /* float:left; */
    /* padding-left:5px; */
}

.content div{
    padding: 5px;
}

/* ссылка на другие страницы */
.page a{
    background-color: black;
    color: white;
    padding: 5px 5px;
    
    text-decoration: none;
    display: inline-block;
}

input[type=button]{
    background-color: black;
    border: none;
    color: white;
    padding: 10px 10px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

/* блок с брендами */
.brands{
    display: inline;
}

.brands img{
    border: 1px solid black;
}

/* верхний блок брендов */
.upbrands{
    display: flex;
}
/* нижний блок брендов */
.downbrands{
    display: flex;
}

/* поиск */
.search 
{   
    text-align: center; 
}

input[type=search] {
    width: 50%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    background-color: white;
    background-size: 20px;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}

/* авторизация */
.log_in{
    padding-left: 95%;
    font-family: 'Courier New', Courier, monospace;
}
.log_in a{
    color: #000;
    text-decoration: none;
}

.category{
    font-family: 'Courier New', Courier, monospace;
    color: antiquewhite;
}
